# Python-related
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.sqlite3

# Django-related
*.log
db.sqlite3
staticfiles/
media/

# VSCode/PyCharm IDEs
.vscode/
.idea/

# OS-related
.DS_Store
Thumbs.db

# Environment and secrets
.env
*.env
secrets.json

# Migration history (optional if you want to start fresh)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
